#Creating a Sql Query From a CSV File

##Preparing Data for Query

###Initialization

**Importing the necessary packages**

In [ ]:
import sqlite3
import pandas as pd

**Mounts colab to google drive to access CSV file**

In [ ]:
from google.colab import drive
try:
  drive.mount('/content/drive')
except:
  print("Could not connect to Google Drive.")

Mounted at /content/drive

**Loads the CSV file into a dataframe**

In [ ]:
path = "/content/drive/MyDrive/Team 3 (Research Group)/Students_Attendance.csv"

try:
  df = pd.read_csv(path)

except:
  print("Could not read the information for the path.")

df.drop(columns=["Unnamed: 0"], inplace=True, errors='ignore')
df.head()

  School DBN      Date  Enrolled  Absent  Present  Released
0     01M015  20180905       172      19      153         0
1     01M015  20180906       171      17      154         0
2     01M015  20180907       172      14      158         0
3     01M015  20180912       173       7      166         0
4     01M015  20180913       173       9      164         0

###Data Cleaning

**Drops unnessary columns**

In [ ]:
df = df[['Date', 'Enrolled', 'Absent', 'Present']]
df.head()

       Date  Enrolled  Absent  Present
0  20180905       172      19      153
1  20180906       171      17      154
2  20180907       172      14      158
3  20180912       173       7      166
4  20180913       173       9      164

**Reformats the dates**

In [ ]:
df['Date'] = df['Date'].astype(str)
df['Date'] = df['Date'].apply(lambda x: x[:4] + '-' + x[4:6] + '-' + x[6:])

#Keeps the top 10 entries to decrease dataset
df = df.iloc[:-168]
df

         Date  Enrolled  Absent  Present
0  2018-09-05       172      19      153
1  2018-09-06       171      17      154
2  2018-09-07       172      14      158
3  2018-09-12       173       7      166
4  2018-09-13       173       9      164
5  2018-09-14       173      11      162
6  2018-09-17       173      10      163
7  2018-09-18       174       7      167
8  2018-09-20       174       7      167
9  2018-09-21       174       8      166

##Combining CSV and Query

###Creating the Query

In [ ]:
#Connects to a newly created query database
connection = sqlite3.connect('students_attendance.sqlite')

#Creates a cursor object using the cursor() method
crsr = connection.cursor()

#Print statement will execute if there are no errors
print("Connected to the database")

connection.commit()
##Commented out because the table is already made in this database

#Check if the table exists before creating it
crsr.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='attendance'")
existing_table = crsr.fetchone()

if existing_table:
    print("Table 'attendance' already exists.")
else:
    #Creating the table
    crsr.execute("""
    CREATE TABLE attendance (
      Date TEXT,
      Enrolled INTEGER,
      Absent INTEGER,
      Present INTEGER
    );
    """)
    print("Table 'attendance' created successfully.")

Connected to the database
Table 'attendance' already exists.

**Turning each row from the CSV file into a new entry**

In [ ]:
for index, row in df.iterrows():
  insert_query = """
  INSERT INTO attendance (Date, Enrolled, Absent, Present)
  VALUES (?, ?, ?, ?)
  """
  crsr.execute(insert_query, (row['Date'], row['Enrolled'], row['Absent'], row['Present']))

connection.commit()

**Print created query**

In [ ]:
crsr.execute("SELECT * FROM attendance")

for i in crsr.fetchall():
    print(i)

('2018-09-05', 172, 19, 153)
('2018-09-06', 171, 17, 154)
('2018-09-07', 172, 14, 158)
('2018-09-12', 173, 7, 166)
('2018-09-13', 173, 9, 164)
('2018-09-14', 173, 11, 162)
('2018-09-17', 173, 10, 163)
('2018-09-18', 174, 7, 167)
('2018-09-20', 174, 7, 167)
('2018-09-21', 174, 8, 166)
('20180905', 172, 19, 153)
('20180906', 171, 17, 154)
('20180907', 172, 14, 158)
('20180912', 173, 7, 166)
('20180913', 173, 9, 164)
('20180914', 173, 11, 162)
('20180917', 173, 10, 163)
('20180918', 174, 7, 167)
('20180920', 174, 7, 167)
('20180921', 174, 8, 166)
('20180924', 174, 13, 161)
('20180925', 174, 9, 165)
('20180926', 174, 6, 168)
('20180927', 173, 7, 166)
('20180928', 173, 15, 158)
('20181001', 172, 4, 168)
('20181002', 172, 7, 165)
('20181003', 171, 8, 163)
('20181004', 171, 10, 161)
('20181005', 170, 8, 162)
('20181009', 170, 14, 156)
('20181010', 170, 11, 159)
('20181011', 170, 9, 161)
('20181012', 170, 11, 159)
('20181015', 170, 11, 159)
('20181016', 170, 6, 164)
('20181017', 170, 5, 165)
('20181018', 170, 8, 162)
('20181019', 170, 14, 156)
('20181022', 170, 20, 150)
('20181023', 171, 5, 166)
('20181024', 171, 9, 162)
('20181025', 171, 6, 165)
('20181026', 171, 10, 161)
('20181029', 174, 11, 163)
('20181030', 174, 6, 168)
('20181031', 174, 13, 161)
('20181101', 174, 8, 166)
('20181102', 174, 17, 157)
('20181105', 174, 7, 167)
('20181107', 174, 10, 164)
('20181108', 174, 13, 161)
('20181109', 174, 11, 163)
('20181113', 174, 14, 160)
('20181114', 174, 7, 167)
('20181115', 174, 49, 125)
('20181116', 174, 22, 152)
('20181119', 174, 13, 161)
('20181120', 172, 11, 161)
('20181121', 172, 29, 143)
('20181126', 172, 17, 155)
('20181127', 173, 10, 163)
('20181128', 173, 15, 158)
('20181129', 173, 13, 160)
('20181130', 173, 7, 166)
('20181203', 173, 13, 160)
('20181204', 173, 9, 164)
('20181205', 173, 7, 166)
('20181206', 173, 4, 169)
('20181207', 173, 9, 164)
('20181210', 173, 12, 161)
('20181211', 173, 12, 161)
('20181212', 173, 7, 166)
('20181213', 173, 5, 168)
('20181214', 176, 6, 170)
('20181217', 174, 16, 158)
('20181218', 174, 11, 163)
('20181219', 175, 23, 152)
('20181220', 175, 24, 151)
('20181221', 175, 40, 135)
('20190102', 176, 31, 145)
('20190103', 176, 21, 155)
('20190104', 176, 15, 161)
('20190107', 174, 10, 164)
('20190108', 174, 13, 161)
('20190109', 174, 11, 163)
('20190110', 175, 6, 169)
('20190111', 174, 6, 168)
('20190114', 174, 14, 160)
('20190115', 174, 13, 161)
('20190116', 174, 7, 167)
('20190117', 174, 12, 162)
('20190118', 174, 15, 159)
('20190122', 173, 23, 150)
('20190123', 173, 19, 154)
('20190124', 173, 18, 155)
('20190125', 173, 15, 158)
('20190128', 175, 10, 165)
('20190129', 174, 7, 167)
('20190130', 174, 17, 157)
('20190131', 174, 52, 111)
('20190201', 175, 21, 154)
('20190204', 175, 22, 153)
('20190206', 175, 24, 151)
('20190207', 175, 22, 153)
('20190208', 175, 38, 137)
('20190211', 175, 21, 154)
('20190212', 175, 27, 148)
('20190213', 175, 11, 164)
('20190214', 175, 3, 172)
('20190215', 174, 13, 161)
('20190225', 174, 18, 156)
('20190226', 174, 9, 165)
('20190227', 174, 12, 162)
('20190228', 174, 7, 167)
('20190301', 174, 16, 158)
('20190305', 174, 7, 167)
('20190306', 174, 9, 165)
('20190307', 175, 12, 163)
('20190308', 175, 10, 165)
('20190311', 175, 18, 157)
('20190312', 175, 9, 166)
('20190313', 175, 9, 166)
('20190314', 175, 36, 139)
('20190315', 175, 12, 163)
('20190318', 175, 11, 164)
('20190319', 175, 9, 166)
('20190320', 175, 10, 165)
('20190321', 175, 13, 162)
('20190322', 175, 19, 156)
('20190325', 175, 11, 164)
('20190326', 175, 10, 165)
('20190327', 177, 12, 165)
('20190328', 177, 9, 168)
('20190329', 177, 11, 166)
('20190401', 175, 18, 157)
('20190402', 175, 8, 167)
('20190403', 175, 10, 165)
('20190404', 175, 11, 164)
('20190405', 175, 10, 165)
('20190408', 173, 7, 166)
('20190409', 173, 8, 165)
('20190410', 173, 8, 165)
('20190411', 173, 8, 165)
('20190412', 173, 16, 157)
('20190415', 173, 6, 167)
('20190416', 174, 5, 169)
('20190417', 174, 6, 168)
('20190418', 173, 13, 160)
('20190429', 173, 20, 153)
('20190430', 173, 7, 166)
('20190501', 173, 4, 169)
('20190502', 173, 4, 169)
('20190503', 175, 6, 169)
('20190506', 175, 11, 164)
('20190507', 174, 10, 164)
('20190508', 174, 7, 167)
('20190509', 174, 9, 165)
('20190510', 174, 13, 161)
('20190513', 174, 13, 161)
('20190514', 174, 12, 162)
('20190515', 174, 8, 156)
('20190516', 174, 11, 163)
('20190517', 174, 10, 164)
('20190520', 174, 7, 167)
('20190521', 174, 3, 171)
('20190522', 174, 8, 166)
('20190523', 174, 9, 165)
('20190524', 174, 7, 167)
('20190528', 172, 7, 165)
('20190529', 172, 6, 166)
('20190530', 172, 7, 165)
('20190531', 172, 6, 166)
('20190603', 174, 6, 168)
('20190605', 174, 10, 164)
('20190607', 175, 10, 165)
('20190610', 175, 15, 160)
('20190612', 175, 12, 163)
('20190613', 175, 14, 161)
('20190614', 175, 9, 166)
('20190617', 174, 11, 163)
('20190618', 174, 18, 156)
('20190619', 174, 11, 163)
('20190620', 174, 21, 153)
('20190621', 174, 27, 147)
('20190624', 174, 21, 153)
('20190625', 174, 37, 137)
('20190626', 174, 45, 129)

###Insert New Entry

In [ ]:
new_entry = input("Would you like to insert a new entry (y/n): ")

if new_entry == 'y':
  add_date = input(str("Enter the date in yyyy-mm-dd format: "))
  add_enrolled = input(str("Enter the number of enrolled students: "))
  add_absent = input(str("Enter the number of absent students: "))
  add_present = input(str("Enter the number of present students: "))

  insert_query = """
  INSERT INTO attendance (Date, Enrolled, Absent, Present)
  VALUES (?, ?, ?, ?)
  """
  crsr.execute(insert_query, (add_date, add_enrolled, add_absent, add_present))

  connection.commit()

  crsr.execute("SELECT * FROM attendance")

  for i in crsr.fetchall():
      print(i)

Would you like to insert a new entry (y/n): y
Enter the date in yyyy-mm-dd format: 2024-06-05
Enter the number of enrolled students: 130
Enter the number of absent students: 20
Enter the number of present students: 110
('2018-09-05', 172, 19, 153)
('2018-09-06', 171, 17, 154)
('2018-09-07', 172, 14, 158)
('2018-09-12', 173, 7, 166)
('2018-09-13', 173, 9, 164)
('2018-09-14', 173, 11, 162)
('2018-09-17', 173, 10, 163)
('2018-09-18', 174, 7, 167)
('2018-09-20', 174, 7, 167)
('2018-09-21', 174, 8, 166)
('20180905', 172, 19, 153)
('20180906', 171, 17, 154)
('20180907', 172, 14, 158)
('20180912', 173, 7, 166)
('20180913', 173, 9, 164)
('20180914', 173, 11, 162)
('20180917', 173, 10, 163)
('20180918', 174, 7, 167)
('20180920', 174, 7, 167)
('20180921', 174, 8, 166)
('20180924', 174, 13, 161)
('20180925', 174, 9, 165)
('20180926', 174, 6, 168)
('20180927', 173, 7, 166)
('20180928', 173, 15, 158)
('20181001', 172, 4, 168)
('20181002', 172, 7, 165)
('20181003', 171, 8, 163)
('20181004', 171, 10, 161)
('20181005', 170, 8, 162)
('20181009', 170, 14, 156)
('20181010', 170, 11, 159)
('20181011', 170, 9, 161)
('20181012', 170, 11, 159)
('20181015', 170, 11, 159)
('20181016', 170, 6, 164)
('20181017', 170, 5, 165)
('20181018', 170, 8, 162)
('20181019', 170, 14, 156)
('20181022', 170, 20, 150)
('20181023', 171, 5, 166)
('20181024', 171, 9, 162)
('20181025', 171, 6, 165)
('20181026', 171, 10, 161)
('20181029', 174, 11, 163)
('20181030', 174, 6, 168)
('20181031', 174, 13, 161)
('20181101', 174, 8, 166)
('20181102', 174, 17, 157)
('20181105', 174, 7, 167)
('20181107', 174, 10, 164)
('20181108', 174, 13, 161)
('20181109', 174, 11, 163)
('20181113', 174, 14, 160)
('20181114', 174, 7, 167)
('20181115', 174, 49, 125)
('20181116', 174, 22, 152)
('20181119', 174, 13, 161)
('20181120', 172, 11, 161)
('20181121', 172, 29, 143)
('20181126', 172, 17, 155)
('20181127', 173, 10, 163)
('20181128', 173, 15, 158)
('20181129', 173, 13, 160)
('20181130', 173, 7, 166)
('20181203', 173, 13, 160)
('20181204', 173, 9, 164)
('20181205', 173, 7, 166)
('20181206', 173, 4, 169)
('20181207', 173, 9, 164)
('20181210', 173, 12, 161)
('20181211', 173, 12, 161)
('20181212', 173, 7, 166)
('20181213', 173, 5, 168)
('20181214', 176, 6, 170)
('20181217', 174, 16, 158)
('20181218', 174, 11, 163)
('20181219', 175, 23, 152)
('20181220', 175, 24, 151)
('20181221', 175, 40, 135)
('20190102', 176, 31, 145)
('20190103', 176, 21, 155)
('20190104', 176, 15, 161)
('20190107', 174, 10, 164)
('20190108', 174, 13, 161)
('20190109', 174, 11, 163)
('20190110', 175, 6, 169)
('20190111', 174, 6, 168)
('20190114', 174, 14, 160)
('20190115', 174, 13, 161)
('20190116', 174, 7, 167)
('20190117', 174, 12, 162)
('20190118', 174, 15, 159)
('20190122', 173, 23, 150)
('20190123', 173, 19, 154)
('20190124', 173, 18, 155)
('20190125', 173, 15, 158)
('20190128', 175, 10, 165)
('20190129', 174, 7, 167)
('20190130', 174, 17, 157)
('20190131', 174, 52, 111)
('20190201', 175, 21, 154)
('20190204', 175, 22, 153)
('20190206', 175, 24, 151)
('20190207', 175, 22, 153)
('20190208', 175, 38, 137)
('20190211', 175, 21, 154)
('20190212', 175, 27, 148)
('20190213', 175, 11, 164)
('20190214', 175, 3, 172)
('20190215', 174, 13, 161)
('20190225', 174, 18, 156)
('20190226', 174, 9, 165)
('20190227', 174, 12, 162)
('20190228', 174, 7, 167)
('20190301', 174, 16, 158)
('20190305', 174, 7, 167)
('20190306', 174, 9, 165)
('20190307', 175, 12, 163)
('20190308', 175, 10, 165)
('20190311', 175, 18, 157)
('20190312', 175, 9, 166)
('20190313', 175, 9, 166)
('20190314', 175, 36, 139)
('20190315', 175, 12, 163)
('20190318', 175, 11, 164)
('20190319', 175, 9, 166)
('20190320', 175, 10, 165)
('20190321', 175, 13, 162)
('20190322', 175, 19, 156)
('20190325', 175, 11, 164)
('20190326', 175, 10, 165)
('20190327', 177, 12, 165)
('20190328', 177, 9, 168)
('20190329', 177, 11, 166)
('20190401', 175, 18, 157)
('20190402', 175, 8, 167)
('20190403', 175, 10, 165)
('20190404', 175, 11, 164)
('20190405', 175, 10, 165)
('20190408', 173, 7, 166)
('20190409', 173, 8, 165)
('20190410', 173, 8, 165)
('20190411', 173, 8, 165)
('20190412', 173, 16, 157)
('20190415', 173, 6, 167)
('20190416', 174, 5, 169)
('20190417', 174, 6, 168)
('20190418', 173, 13, 160)
('20190429', 173, 20, 153)
('20190430', 173, 7, 166)
('20190501', 173, 4, 169)
('20190502', 173, 4, 169)
('20190503', 175, 6, 169)
('20190506', 175, 11, 164)
('20190507', 174, 10, 164)
('20190508', 174, 7, 167)
('20190509', 174, 9, 165)
('20190510', 174, 13, 161)
('20190513', 174, 13, 161)
('20190514', 174, 12, 162)
('20190515', 174, 8, 156)
('20190516', 174, 11, 163)
('20190517', 174, 10, 164)
('20190520', 174, 7, 167)
('20190521', 174, 3, 171)
('20190522', 174, 8, 166)
('20190523', 174, 9, 165)
('20190524', 174, 7, 167)
('20190528', 172, 7, 165)
('20190529', 172, 6, 166)
('20190530', 172, 7, 165)
('20190531', 172, 6, 166)
('20190603', 174, 6, 168)
('20190605', 174, 10, 164)
('20190607', 175, 10, 165)
('20190610', 175, 15, 160)
('20190612', 175, 12, 163)
('20190613', 175, 14, 161)
('20190614', 175, 9, 166)
('20190617', 174, 11, 163)
('20190618', 174, 18, 156)
('20190619', 174, 11, 163)
('20190620', 174, 21, 153)
('20190621', 174, 27, 147)
('20190624', 174, 21, 153)
('20190625', 174, 37, 137)
('20190626', 174, 45, 129)
('2024-06-05', 130, 20, 110)

###Updating an Entry

In [ ]:
update_entry = input("Would you like to update an entry (y/n): ")

if update_entry == 'y':
  choose_date = input(str("Enter the date that you would like to change the data: "))
  update_enrolled = input("Enter the new number of enrolled students: ")
  update_absent = input("Enter the new number of absent students: ")
  update_present = input("Enter the new number of present students: ")

  sql = """
  UPDATE attendance
  SET Enrolled = ?,
      Absent = ?,
      Present = ?
  WHERE Date = ?
  """

  crsr.execute(sql, [update_enrolled, update_absent, update_present, choose_date])
  connection.commit()

  crsr.execute("SELECT * FROM attendance")

  for i in crsr.fetchall():
      print(i)

Would you like to update an entry (y/n): y
Enter the date that you would like to change the data: 2024-06-05
Enter the new number of enrolled students: 140
Enter the new number of absent students: 10
Enter the new number of present students: 130
('2018-09-05', 172, 19, 153)
('2018-09-06', 171, 17, 154)
('2018-09-07', 172, 14, 158)
('2018-09-12', 173, 7, 166)
('2018-09-13', 173, 9, 164)
('2018-09-14', 173, 11, 162)
('2018-09-17', 173, 10, 163)
('2018-09-18', 174, 7, 167)
('2018-09-20', 174, 7, 167)
('2018-09-21', 174, 8, 166)
('20180905', 172, 19, 153)
('20180906', 171, 17, 154)
('20180907', 172, 14, 158)
('20180912', 173, 7, 166)
('20180913', 173, 9, 164)
('20180914', 173, 11, 162)
('20180917', 173, 10, 163)
('20180918', 174, 7, 167)
('20180920', 174, 7, 167)
('20180921', 174, 8, 166)
('20180924', 174, 13, 161)
('20180925', 174, 9, 165)
('20180926', 174, 6, 168)
('20180927', 173, 7, 166)
('20180928', 173, 15, 158)
('20181001', 172, 4, 168)
('20181002', 172, 7, 165)
('20181003', 171, 8, 163)
('20181004', 171, 10, 161)
('20181005', 170, 8, 162)
('20181009', 170, 14, 156)
('20181010', 170, 11, 159)
('20181011', 170, 9, 161)
('20181012', 170, 11, 159)
('20181015', 170, 11, 159)
('20181016', 170, 6, 164)
('20181017', 170, 5, 165)
('20181018', 170, 8, 162)
('20181019', 170, 14, 156)
('20181022', 170, 20, 150)
('20181023', 171, 5, 166)
('20181024', 171, 9, 162)
('20181025', 171, 6, 165)
('20181026', 171, 10, 161)
('20181029', 174, 11, 163)
('20181030', 174, 6, 168)
('20181031', 174, 13, 161)
('20181101', 174, 8, 166)
('20181102', 174, 17, 157)
('20181105', 174, 7, 167)
('20181107', 174, 10, 164)
('20181108', 174, 13, 161)
('20181109', 174, 11, 163)
('20181113', 174, 14, 160)
('20181114', 174, 7, 167)
('20181115', 174, 49, 125)
('20181116', 174, 22, 152)
('20181119', 174, 13, 161)
('20181120', 172, 11, 161)
('20181121', 172, 29, 143)
('20181126', 172, 17, 155)
('20181127', 173, 10, 163)
('20181128', 173, 15, 158)
('20181129', 173, 13, 160)
('20181130', 173, 7, 166)
('20181203', 173, 13, 160)
('20181204', 173, 9, 164)
('20181205', 173, 7, 166)
('20181206', 173, 4, 169)
('20181207', 173, 9, 164)
('20181210', 173, 12, 161)
('20181211', 173, 12, 161)
('20181212', 173, 7, 166)
('20181213', 173, 5, 168)
('20181214', 176, 6, 170)
('20181217', 174, 16, 158)
('20181218', 174, 11, 163)
('20181219', 175, 23, 152)
('20181220', 175, 24, 151)
('20181221', 175, 40, 135)
('20190102', 176, 31, 145)
('20190103', 176, 21, 155)
('20190104', 176, 15, 161)
('20190107', 174, 10, 164)
('20190108', 174, 13, 161)
('20190109', 174, 11, 163)
('20190110', 175, 6, 169)
('20190111', 174, 6, 168)
('20190114', 174, 14, 160)
('20190115', 174, 13, 161)
('20190116', 174, 7, 167)
('20190117', 174, 12, 162)
('20190118', 174, 15, 159)
('20190122', 173, 23, 150)
('20190123', 173, 19, 154)
('20190124', 173, 18, 155)
('20190125', 173, 15, 158)
('20190128', 175, 10, 165)
('20190129', 174, 7, 167)
('20190130', 174, 17, 157)
('20190131', 174, 52, 111)
('20190201', 175, 21, 154)
('20190204', 175, 22, 153)
('20190206', 175, 24, 151)
('20190207', 175, 22, 153)
('20190208', 175, 38, 137)
('20190211', 175, 21, 154)
('20190212', 175, 27, 148)
('20190213', 175, 11, 164)
('20190214', 175, 3, 172)
('20190215', 174, 13, 161)
('20190225', 174, 18, 156)
('20190226', 174, 9, 165)
('20190227', 174, 12, 162)
('20190228', 174, 7, 167)
('20190301', 174, 16, 158)
('20190305', 174, 7, 167)
('20190306', 174, 9, 165)
('20190307', 175, 12, 163)
('20190308', 175, 10, 165)
('20190311', 175, 18, 157)
('20190312', 175, 9, 166)
('20190313', 175, 9, 166)
('20190314', 175, 36, 139)
('20190315', 175, 12, 163)
('20190318', 175, 11, 164)
('20190319', 175, 9, 166)
('20190320', 175, 10, 165)
('20190321', 175, 13, 162)
('20190322', 175, 19, 156)
('20190325', 175, 11, 164)
('20190326', 175, 10, 165)
('20190327', 177, 12, 165)
('20190328', 177, 9, 168)
('20190329', 177, 11, 166)
('20190401', 175, 18, 157)
('20190402', 175, 8, 167)
('20190403', 175, 10, 165)
('20190404', 175, 11, 164)
('20190405', 175, 10, 165)
('20190408', 173, 7, 166)
('20190409', 173, 8, 165)
('20190410', 173, 8, 165)
('20190411', 173, 8, 165)
('20190412', 173, 16, 157)
('20190415', 173, 6, 167)
('20190416', 174, 5, 169)
('20190417', 174, 6, 168)
('20190418', 173, 13, 160)
('20190429', 173, 20, 153)
('20190430', 173, 7, 166)
('20190501', 173, 4, 169)
('20190502', 173, 4, 169)
('20190503', 175, 6, 169)
('20190506', 175, 11, 164)
('20190507', 174, 10, 164)
('20190508', 174, 7, 167)
('20190509', 174, 9, 165)
('20190510', 174, 13, 161)
('20190513', 174, 13, 161)
('20190514', 174, 12, 162)
('20190515', 174, 8, 156)
('20190516', 174, 11, 163)
('20190517', 174, 10, 164)
('20190520', 174, 7, 167)
('20190521', 174, 3, 171)
('20190522', 174, 8, 166)
('20190523', 174, 9, 165)
('20190524', 174, 7, 167)
('20190528', 172, 7, 165)
('20190529', 172, 6, 166)
('20190530', 172, 7, 165)
('20190531', 172, 6, 166)
('20190603', 174, 6, 168)
('20190605', 174, 10, 164)
('20190607', 175, 10, 165)
('20190610', 175, 15, 160)
('20190612', 175, 12, 163)
('20190613', 175, 14, 161)
('20190614', 175, 9, 166)
('20190617', 174, 11, 163)
('20190618', 174, 18, 156)
('20190619', 174, 11, 163)
('20190620', 174, 21, 153)
('20190621', 174, 27, 147)
('20190624', 174, 21, 153)
('20190625', 174, 37, 137)
('20190626', 174, 45, 129)
('2024-06-05', 140, 10, 130)

###Deleting an Entry

In [ ]:

new_entry = input("Would you like to delete an entry (y/n): ")

if new_entry == 'y':
  date_query = input("Would you like to delete based on date? (y/n): ")
  if date_query == 'y':
    delete_date = input(str("Enter the date in yyyy-mm-dd format: "))
    sql = """
    DELETE FROM attendance
    WHERE Date=?
    """
    crsr.execute(sql, [delete_date])
    connection.commit()
    crsr.execute("SELECT * FROM attendance")

    for i in crsr.fetchall():
        print(i)
  enrolled_query = input("Would you like to delete based on enrollment? (y/n): ")
  if enrolled_query == 'y':
    delete_enrolled = input(str("Enter the number of enrolled students: "))
    sql = """
    DELETE FROM attendance
    WHERE Enrolled=?
    """
    crsr.execute(sql, [delete_enrolled])
    connection.commit()
    crsr.execute("SELECT * FROM attendance")

    for i in crsr.fetchall():
        print(i)
  absent_query = input("Would you like to delete based on absences? (y/n): ")
  if absent_query == 'y':
    delete_absent = input(str("Enter the number of absent students: "))
    sql = """
    DELETE FROM attendance
    WHERE Absent=?
    """
    crsr.execute(sql, [delete_absent])
    connection.commit()
    crsr.execute("SELECT * FROM attendance")

    for i in crsr.fetchall():
        print(i)
  present_query = input("Would you like to delete based on present students? (y/n): ")
  if present_query == 'y':
    delete_present = input(str("Enter the number of present students: "))
    sql = """
    DELETE FROM attendance
    WHERE Present=?
    """
    crsr.execute(sql, [delete_present])
    connection.commit()
    crsr.execute("SELECT * FROM attendance")

    for i in crsr.fetchall():
        print(i)

Would you like to delete an entry (y/n): y
Would you like to delete based on date? (y/n): y
Enter the date in yyyy-mm-dd format: 2024-06-05
('2018-09-05', 172, 19, 153)
('2018-09-06', 171, 17, 154)
('2018-09-07', 172, 14, 158)
('2018-09-12', 173, 7, 166)
('2018-09-13', 173, 9, 164)
('2018-09-14', 173, 11, 162)
('2018-09-17', 173, 10, 163)
('2018-09-18', 174, 7, 167)
('2018-09-20', 174, 7, 167)
('2018-09-21', 174, 8, 166)
('20180905', 172, 19, 153)
('20180906', 171, 17, 154)
('20180907', 172, 14, 158)
('20180912', 173, 7, 166)
('20180913', 173, 9, 164)
('20180914', 173, 11, 162)
('20180917', 173, 10, 163)
('20180918', 174, 7, 167)
('20180920', 174, 7, 167)
('20180921', 174, 8, 166)
('20180924', 174, 13, 161)
('20180925', 174, 9, 165)
('20180926', 174, 6, 168)
('20180927', 173, 7, 166)
('20180928', 173, 15, 158)
('20181001', 172, 4, 168)
('20181002', 172, 7, 165)
('20181003', 171, 8, 163)
('20181004', 171, 10, 161)
('20181005', 170, 8, 162)
('20181009', 170, 14, 156)
('20181010', 170, 11, 159)
('20181011', 170, 9, 161)
('20181012', 170, 11, 159)
('20181015', 170, 11, 159)
('20181016', 170, 6, 164)
('20181017', 170, 5, 165)
('20181018', 170, 8, 162)
('20181019', 170, 14, 156)
('20181022', 170, 20, 150)
('20181023', 171, 5, 166)
('20181024', 171, 9, 162)
('20181025', 171, 6, 165)
('20181026', 171, 10, 161)
('20181029', 174, 11, 163)
('20181030', 174, 6, 168)
('20181031', 174, 13, 161)
('20181101', 174, 8, 166)
('20181102', 174, 17, 157)
('20181105', 174, 7, 167)
('20181107', 174, 10, 164)
('20181108', 174, 13, 161)
('20181109', 174, 11, 163)
('20181113', 174, 14, 160)
('20181114', 174, 7, 167)
('20181115', 174, 49, 125)
('20181116', 174, 22, 152)
('20181119', 174, 13, 161)
('20181120', 172, 11, 161)
('20181121', 172, 29, 143)
('20181126', 172, 17, 155)
('20181127', 173, 10, 163)
('20181128', 173, 15, 158)
('20181129', 173, 13, 160)
('20181130', 173, 7, 166)
('20181203', 173, 13, 160)
('20181204', 173, 9, 164)
('20181205', 173, 7, 166)
('20181206', 173, 4, 169)
('20181207', 173, 9, 164)
('20181210', 173, 12, 161)
('20181211', 173, 12, 161)
('20181212', 173, 7, 166)
('20181213', 173, 5, 168)
('20181214', 176, 6, 170)
('20181217', 174, 16, 158)
('20181218', 174, 11, 163)
('20181219', 175, 23, 152)
('20181220', 175, 24, 151)
('20181221', 175, 40, 135)
('20190102', 176, 31, 145)
('20190103', 176, 21, 155)
('20190104', 176, 15, 161)
('20190107', 174, 10, 164)
('20190108', 174, 13, 161)
('20190109', 174, 11, 163)
('20190110', 175, 6, 169)
('20190111', 174, 6, 168)
('20190114', 174, 14, 160)
('20190115', 174, 13, 161)
('20190116', 174, 7, 167)
('20190117', 174, 12, 162)
('20190118', 174, 15, 159)
('20190122', 173, 23, 150)
('20190123', 173, 19, 154)
('20190124', 173, 18, 155)
('20190125', 173, 15, 158)
('20190128', 175, 10, 165)
('20190129', 174, 7, 167)
('20190130', 174, 17, 157)
('20190131', 174, 52, 111)
('20190201', 175, 21, 154)
('20190204', 175, 22, 153)
('20190206', 175, 24, 151)
('20190207', 175, 22, 153)
('20190208', 175, 38, 137)
('20190211', 175, 21, 154)
('20190212', 175, 27, 148)
('20190213', 175, 11, 164)
('20190214', 175, 3, 172)
('20190215', 174, 13, 161)
('20190225', 174, 18, 156)
('20190226', 174, 9, 165)
('20190227', 174, 12, 162)
('20190228', 174, 7, 167)
('20190301', 174, 16, 158)
('20190305', 174, 7, 167)
('20190306', 174, 9, 165)
('20190307', 175, 12, 163)
('20190308', 175, 10, 165)
('20190311', 175, 18, 157)
('20190312', 175, 9, 166)
('20190313', 175, 9, 166)
('20190314', 175, 36, 139)
('20190315', 175, 12, 163)
('20190318', 175, 11, 164)
('20190319', 175, 9, 166)
('20190320', 175, 10, 165)
('20190321', 175, 13, 162)
('20190322', 175, 19, 156)
('20190325', 175, 11, 164)
('20190326', 175, 10, 165)
('20190327', 177, 12, 165)
('20190328', 177, 9, 168)
('20190329', 177, 11, 166)
('20190401', 175, 18, 157)
('20190402', 175, 8, 167)
('20190403', 175, 10, 165)
('20190404', 175, 11, 164)
('20190405', 175, 10, 165)
('20190408', 173, 7, 166)
('20190409', 173, 8, 165)
('20190410', 173, 8, 165)
('20190411', 173, 8, 165)
('20190412', 173, 16, 157)
('20190415', 173, 6, 167)
('20190416', 174, 5, 169)
('20190417', 174, 6, 168)
('20190418', 173, 13, 160)
('20190429', 173, 20, 153)
('20190430', 173, 7, 166)
('20190501', 173, 4, 169)
('20190502', 173, 4, 169)
('20190503', 175, 6, 169)
('20190506', 175, 11, 164)
('20190507', 174, 10, 164)
('20190508', 174, 7, 167)
('20190509', 174, 9, 165)
('20190510', 174, 13, 161)
('20190513', 174, 13, 161)
('20190514', 174, 12, 162)
('20190515', 174, 8, 156)
('20190516', 174, 11, 163)
('20190517', 174, 10, 164)
('20190520', 174, 7, 167)
('20190521', 174, 3, 171)
('20190522', 174, 8, 166)
('20190523', 174, 9, 165)
('20190524', 174, 7, 167)
('20190528', 172, 7, 165)
('20190529', 172, 6, 166)
('20190530', 172, 7, 165)
('20190531', 172, 6, 166)
('20190603', 174, 6, 168)
('20190605', 174, 10, 164)
('20190607', 175, 10, 165)
('20190610', 175, 15, 160)
('20190612', 175, 12, 163)
('20190613', 175, 14, 161)
('20190614', 175, 9, 166)
('20190617', 174, 11, 163)
('20190618', 174, 18, 156)
('20190619', 174, 11, 163)
('20190620', 174, 21, 153)
('20190621', 174, 27, 147)
('20190624', 174, 21, 153)
('20190625', 174, 37, 137)
('20190626', 174, 45, 129)
Would you like to delete based on enrollment? (y/n): y
Enter the number of enrolled students: 174
('2018-09-05', 172, 19, 153)
('2018-09-06', 171, 17, 154)
('2018-09-07', 172, 14, 158)
('2018-09-12', 173, 7, 166)
('2018-09-13', 173, 9, 164)
('2018-09-14', 173, 11, 162)
('2018-09-17', 173, 10, 163)
('20180905', 172, 19, 153)
('20180906', 171, 17, 154)
('20180907', 172, 14, 158)
('20180912', 173, 7, 166)
('20180913', 173, 9, 164)
('20180914', 173, 11, 162)
('20180917', 173, 10, 163)
('20180927', 173, 7, 166)
('20180928', 173, 15, 158)
('20181001', 172, 4, 168)
('20181002', 172, 7, 165)
('20181003', 171, 8, 163)
('20181004', 171, 10, 161)
('20181005', 170, 8, 162)
('20181009', 170, 14, 156)
('20181010', 170, 11, 159)
('20181011', 170, 9, 161)
('20181012', 170, 11, 159)
('20181015', 170, 11, 159)
('20181016', 170, 6, 164)
('20181017', 170, 5, 165)
('20181018', 170, 8, 162)
('20181019', 170, 14, 156)
('20181022', 170, 20, 150)
('20181023', 171, 5, 166)
('20181024', 171, 9, 162)
('20181025', 171, 6, 165)
('20181026', 171, 10, 161)
('20181120', 172, 11, 161)
('20181121', 172, 29, 143)
('20181126', 172, 17, 155)
('20181127', 173, 10, 163)
('20181128', 173, 15, 158)
('20181129', 173, 13, 160)
('20181130', 173, 7, 166)
('20181203', 173, 13, 160)
('20181204', 173, 9, 164)
('20181205', 173, 7, 166)
('20181206', 173, 4, 169)
('20181207', 173, 9, 164)
('20181210', 173, 12, 161)
('20181211', 173, 12, 161)
('20181212', 173, 7, 166)
('20181213', 173, 5, 168)
('20181214', 176, 6, 170)
('20181219', 175, 23, 152)
('20181220', 175, 24, 151)
('20181221', 175, 40, 135)
('20190102', 176, 31, 145)
('20190103', 176, 21, 155)
('20190104', 176, 15, 161)
('20190110', 175, 6, 169)
('20190122', 173, 23, 150)
('20190123', 173, 19, 154)
('20190124', 173, 18, 155)
('20190125', 173, 15, 158)
('20190128', 175, 10, 165)
('20190201', 175, 21, 154)
('20190204', 175, 22, 153)
('20190206', 175, 24, 151)
('20190207', 175, 22, 153)
('20190208', 175, 38, 137)
('20190211', 175, 21, 154)
('20190212', 175, 27, 148)
('20190213', 175, 11, 164)
('20190214', 175, 3, 172)
('20190307', 175, 12, 163)
('20190308', 175, 10, 165)
('20190311', 175, 18, 157)
('20190312', 175, 9, 166)
('20190313', 175, 9, 166)
('20190314', 175, 36, 139)
('20190315', 175, 12, 163)
('20190318', 175, 11, 164)
('20190319', 175, 9, 166)
('20190320', 175, 10, 165)
('20190321', 175, 13, 162)
('20190322', 175, 19, 156)
('20190325', 175, 11, 164)
('20190326', 175, 10, 165)
('20190327', 177, 12, 165)
('20190328', 177, 9, 168)
('20190329', 177, 11, 166)
('20190401', 175, 18, 157)
('20190402', 175, 8, 167)
('20190403', 175, 10, 165)
('20190404', 175, 11, 164)
('20190405', 175, 10, 165)
('20190408', 173, 7, 166)
('20190409', 173, 8, 165)
('20190410', 173, 8, 165)
('20190411', 173, 8, 165)
('20190412', 173, 16, 157)
('20190415', 173, 6, 167)
('20190418', 173, 13, 160)
('20190429', 173, 20, 153)
('20190430', 173, 7, 166)
('20190501', 173, 4, 169)
('20190502', 173, 4, 169)
('20190503', 175, 6, 169)
('20190506', 175, 11, 164)
('20190528', 172, 7, 165)
('20190529', 172, 6, 166)
('20190530', 172, 7, 165)
('20190531', 172, 6, 166)
('20190607', 175, 10, 165)
('20190610', 175, 15, 160)
('20190612', 175, 12, 163)
('20190613', 175, 14, 161)
('20190614', 175, 9, 166)
Would you like to delete based on absences? (y/n): n
Would you like to delete based on present students? (y/n): n

In [ ]:
# Droping the whole table
crsr.execute('''DROP TABLE attendance;''')

# Commit your changes in the database
connection.commit()

# Closing the connection
connection.close()